@import '../../styles/colors.scss';

.inputField {
    width: 100%;
    line-height: 2.5rem;
    padding-left: 10px;
    margin-bottom: 1rem;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    font-size: 1.3rem;


    @media only screen and (min-width: 768px) {
        box-shadow: none;
        border: 1px solid $primaryMain;
        &:focus {
            outline-color: $primaryMain;
        }
}}