@import '../../styles/colors.scss';

.sortContainer {
    background-color: $primaryLight; 
    padding: 0.5rem 1rem;
    max-width: 600px;
    width:100%;
    margin-bottom: 1rem;
    border-radius: 20px;
    display: flex;
    gap:3rem;
    justify-content: center;

    span:hover{
        color:red;
        cursor: pointer;
    }

    p{
        margin: 0;
    }
}